Package: com.6ilent.custofications
Name: Custofications
Depends: mobilesubstrate, firmware (>= 13.0), preferenceloader, ws.hbang.common (>= 1.11), applist
Architecture: iphoneos-arm
Description: Custom notifications
Maintainer: 6ilent <pkmnx7802@gmail.com>
Author: 6ilent <pkmnx7802@gmail.com>
Section: Tweaks
Version: 1.1.1
Installed-Size: 348
